{% extends 'html/base.html' %}
{% load static %}

{% block main %}
<main>
  <div class="d-flex flex-column align-items-center">
    <form method="post" enctype="application/x-www-form-urlencoded" id="gpt_form" class="m-2">
      {% csrf_token %}
      <textarea type="text" name="question" rows="6" cols="50" placeholder="Введите свой вопрос в этом окне" autofocus></textarea>
    </form>
    <div>
      {% if user.is_authenticated %}
        <button type="submit" form="gpt_form" class="btn btn-primary">Спросить</button>
      {% else %}
        <a href="{% url 'login' %}"><button class="btn btn-primary">Войти</button></a>
      {% endif %}
    </div>
    <div class="border border-info rounded m-3 p-1">
      <h4>{{ answer }}</h4>
    </div >
    <ul>
      {% for message in messages %}
        <li>{{ message.text }}</li>
      {% endfor %}
    </ul>
  </div>
</main>
{% endblock main %}
