{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GPT-4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <main>
      <div class="d-flex flex-column align-items-center">
        <form method="post" enctype="application/x-www-form-urlencoded" id="gpt_form" class="m-2">
          {% csrf_token %}
          <textarea type="text" name="question" rows="6" cols="40"></textarea>
        </form>
        <div>
          <button type="submit" form="gpt_form" class="btn btn-primary">Submit</button>
        </div>
        {{ answer }}
      </div>
    </main>
  </body>
</html>